<%@ page language="java" contentType="text/html; charset=UTF-8"
    pageEncoding="UTF-8"%>
 <%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %>
    
<jsp:include page="header_slim.jsp" /> 

<div class="margin_30"></div>
<div class="margin_30"></div>


<div class="container">
<h1>${mensaje }</h1>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6"><h3 id="titulo_mapa">Mapa de donaciones</h3></div>
    <div class="col-md-3"></div>
  </div>

<div class="margin_30"></div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10"><div id="map"></div></div>
        <div class="col-md-1"></div>
    </div>
        <div class="margin_30"></div>
         <div class="row">
           <div class="col-md-5"></div>
           <div class="col-md-2">
                  <button id="donde_estoy" type="button">Encuentra Mi Posicion</button>
           </div>
        
       </div>
    <div class="margin_30"></div>      
      <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
       <div class="col-md-4"><div class="row"> <div class="col-md-12"><h2>Lorem Ipsum es</h2></div></div>
       <div class="row"> <div class="col-md-12">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen.</div></div></div>
       <div class="col-md-4"><div class="row"> <div class="col-md-12"><h2>Lorem Ipsum es</h2></div></div>
       <div class="row"> <div class="col-md-12">los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian </div></div></div>
       <div class="col-md-4"><div class="row"> <div class="col-md-12"><h2>Lorem Ipsum es</h2></div></div>
       <div class="row"> <div class="col-md-12">Que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.</div></div></div>
       
       </div>
   </div>

    
      </div>
      <div class="margin_30"></div>
      <div id="parallax_1">
          <div class="margin_100"></div>
          <div class="margin_100"></div>
          <div class="margin_100"></div>
      </div>

   <div class="container-fluid" id="container_2" >

    </div>

<div class="margin_100"></div>

  
  <div class="container-fluid">
    <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6"><h3 id="titulo_mapa">Ultimas noticias</h3></div>
    <div class="col-md-3"></div>
  </div>
  <div class="margin_30"></div>
   <div class="row">
       <div class="col-md-3" style="text-align: center">  <img data-src="holder.js/200x200"></div>
       <div class="col-md-8">Qu3  stlyetambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian </div>
   </div>       <div class="margin_30"></div><div class="margin_30"></div>
      <div class="row">
      <div class="col-md-1"></div>
       <div class="col-md-8">Qu3  stlyetambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian </div>

       <div class="col-md-3" style="text-align: center">  <img data-src="holder.js/200x200"></div>
   </div><div class="margin_30"></div><div class="margin_30"></div>
    <div class="row">
       <div class="col-md-3" style="text-align: center">  <img data-src="holder.js/200x200"></div>
       <div class="col-md-8">Qu3  stlyetambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian </div>
   </div>       <div class="margin_30"></div><div class="margin_30"></div>
  </div>
    
   
   
   <jsp:include page="footer.jsp" /> 
   
   
   
 <script   src="js/jquery.js"></script>
<script src="js/holder.min.js"></script>
<script src="js/parallax.min.js"></script>
      
      
    <script>
    var map;
      function initMap() {
        var uluru = {lat: -12.07, lng: -77.044};
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 13,
          center: uluru
        });
        for (var i = 0; i < 10; i++) {
         var pos_actual = new google.maps.Marker({
          position: {lat: -12.072+Math.random()/10, lng: -77.10+Math.random()/10},
          map: map,
          animation: google.maps.Animation.DROP,
        });
        }
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUrwGV5uTEmjYr49cM6UQ86ErpJn8Iaxo&callback=initMap">
    </script>

    <script>
    $("#donde_estoy").click(function(){
        $(this).hide()
        if (navigator.geolocation) { navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            alert("no soportas geolocalizacion")
        }
    })
    function showPosition(position) {
         var uluru = {lat: position.coords.latitude, lng: position.coords.longitude};
          var pos_actual = new google.maps.Marker({
          position: uluru,
          map: map,
          label: "Mi Ubicacion",
          
          animation: google.maps.Animation.DROP,
          icon: "https://maxbeddall.files.wordpress.com/2015/04/img_0050.png?w=32"
        });
          map.setCenter(uluru)
          map.setZoom(16)
       

    }
    </script>

<script>
            $('#parallax_1').parallax({imageSrc: 'imgs/home_1.jpg'});</script>
  </body>
</html>